#hostAddRoot{
    -fx-background-color: rgba(16, 16, 16, 0.85);
}
#hostAddTop{
    -fx-background-color: rgba(0, 0, 0, 0.45);
}
#hostAddTitleText{
    -fx-font-size: 17px;
    -fx-font-family: "Microsoft YaHei UI";
    -fx-text-fill: aliceblue;
}
#hostAddTitleIcon{
    -fx-background-image: url("../添加主机.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
}

#hostAddClose{
    -fx-background-image: url("../close.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}
#hostAddClose:hover{
    -fx-background-image: url("../close_red.png");
}
#hostAddMin{
    -fx-background-image: url("../min1.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}
#hostAddContent{
    -fx-background-color:whitesmoke;
}
.button{
    -fx-font-family: "Microsoft YaHei UI";
    -fx-font-size: 16px;
    -fx-background-radius: 15px;
    -fx-background-position: 5px;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
    -fx-border-style: none;
    -fx-background-color: #30336b;
}
.button:pressed{
    -fx-background-color: #130f40;
}
.text-field{
    -fx-background-radius: 10px;
    -fx-background-position: 5px;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0px 20px 0px 35px;
}
#hostName{
    -fx-background-image: url("../Label.png");
}
#IPArr{
    -fx-background-image: url("../ip.png");
}
#port{
    -fx-background-image: url("../number.png");
}
#userName{
    -fx-background-image: url("../username.png");
}
#userPassword{
    -fx-background-image: url("../password.png");
}
#connectBtn{
    -fx-background-image: url("../sharpicons_network-connections-2.png");
}
#hostAddClearBtn{
    -fx-background-size: 20px;
    -fx-background-position: 10px;
    -fx-background-image: url("../close.png");
}